In [14]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline

from datetime import datetime
import time
import datetime

import eikon as ek
#API Key Lionel: d505f265d9bd4c0cb7df44481ece31a0ad8d1974
#API Key Raphi: f5a341b614d945b9b93a71fe53348ba119d11e99
ek.set_app_key('f5a341b614d945b9b93a71fe53348ba119d11e99')

# Futures

In [16]:
BQL_Futures = pd.read_excel('Excel_Data_Bloomberg_BQL.xlsx',sheet_name='Futures_Fix', index_col='DATES')
BQL_Futures.head()

,CL1 Comdty,C 1 Comdty,GC1 Comdty,LC1 Comdty,FN1 Comdty,NG1 Comdty,JO1 Comdty,PA1 Comdty,PL1 Comdty,SI1 Comdty,W 1 Comdty
DATES,,,,,,,,,,,
2011-12-30 00:00:00,98.82999,646.50,1566.8,122.90,54.31,2.989,169.00,656.15,1399.7,27.915,652.75
2012-01-31 00:00:00,98.48000,639.00,1737.8,124.85,56.25,2.503,210.00,686.35,1588.1,33.262,666.00
2012-02-29 00:00:00,107.07000,656.50,1711.3,127.65,59.38,2.616,190.55,706.65,1692.6,34.583,664.25
2012-03-30 00:00:00,103.02000,644.00,1669.3,120.45,61.50,2.126,164.50,654.10,1638.3,32.484,660.75
2012-04-30 00:00:00,104.87000,660.25,1664.2,118.75,57.87,2.285,140.85,682.35,1571.9,30.959,647.75

In [17]:
BQL_Futures.describe()

,CL1 Comdty,C 1 Comdty,GC1 Comdty,LC1 Comdty,FN1 Comdty,NG1 Comdty,JO1 Comdty,PA1 Comdty,PL1 Comdty,SI1 Comdty,W 1 Comdty
count,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000
mean,65.972727,450.522727,1424.242975,124.804132,54.198926,3.064397,135.726860,1149.404959,1113.209917,20.139744,565.995868
std,22.254328,133.158282,241.144257,16.507157,33.657163,0.807724,25.664986,647.483109,260.859272,5.438254,121.885628
min,18.840000,301.500000,1060.200000,90.000000,9.630000,1.640000,94.800000,495.600000,724.400000,13.803000,361.000000
25%,48.520000,358.750000,1242.300000,113.450000,39.500000,2.575000,118.650000,703.350000,910.100000,16.124000,477.000000
50%,60.140000,384.500000,1318.500000,122.075000,49.810000,2.906000,132.950000,819.850000,1004.300000,18.067000,529.750000
75%,88.060000,534.000000,1660.600000,132.925000,60.680000,3.560000,148.350000,1532.000000,1371.100000,23.494000,655.000000
max,107.650000,806.500000,1970.500000,169.500000,251.180000,5.867000,221.950000,2953.700000,1692.600000,34.583000,902.500000

# Makros

In [18]:
BQL_Makros = pd.read_excel('Excel_Data_Bloomberg_BQL.xlsx',sheet_name='Makro_Fix', index_col='DATES')
BQL_Makros.head()

,SZCPIYOY Index,SZUEUEA Index,SZPUI Index,CNCPIYOY Index,CPMINDX Index,UMRTEMU Index,ECCPEMUY Index,RUCPIYOY Index,RUUER Index,CPI CHNG Index,NAPMPMI Index,USURTOT Index
DATES,,,,,,,,,,,,
2011-12-31,-0.7,2.78311,49.3,4.1,50.3,10.8,2.8,6.100000,6.1,0.02377,53.0,8.5
2012-01-31,-0.8,2.99854,47.9,4.5,50.5,10.9,2.7,4.143126,6.3,0.27241,54.2,8.3
2012-02-29,-0.9,2.81006,47.9,3.2,51.0,11.1,2.7,3.738318,6.2,0.21374,53.3,8.3
2012-03-31,-1.0,2.80185,50.5,3.6,53.1,11.2,2.7,3.714020,6.3,0.20935,53.5,8.2
2012-04-30,-1.0,2.84700,46.7,3.4,53.3,11.3,2.6,3.607771,5.6,0.16607,55.2,8.2

In [19]:
BQL_Makros.describe()

,SZCPIYOY Index,SZUEUEA Index,SZPUI Index,CNCPIYOY Index,CPMINDX Index,UMRTEMU Index,ECCPEMUY Index,RUCPIYOY Index,RUUER Index,CPI CHNG Index,NAPMPMI Index,USURTOT Index
count,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000
mean,-0.089256,2.974412,54.162810,2.087268,50.510744,9.717355,1.217355,6.331513,5.248760,0.173647,54.338843,5.734711
std,0.728560,0.347253,6.567802,0.993951,1.590430,1.719577,1.041448,3.603266,0.529326,0.253741,4.137237,1.953062
min,-1.400000,2.253810,41.200000,-0.500000,35.700000,7.000000,-0.600000,2.162170,4.300000,-0.802210,41.600000,3.500000
25%,-0.600000,2.801850,49.200000,1.500000,50.100000,8.100000,0.400000,3.738318,4.900000,0.037700,51.300000,4.200000
50%,-0.100000,3.054180,53.100000,2.000000,50.500000,9.700000,1.200000,5.799460,5.200000,0.186420,54.400000,5.200000
75%,0.600000,3.232560,57.900000,2.500000,51.200000,11.500000,1.900000,7.297297,5.600000,0.276300,57.600000,6.900000
max,1.500000,3.477510,70.000000,5.384570,53.300000,12.200000,5.000000,16.901408,6.400000,0.877140,63.700000,14.700000